<header class="site-header">
  <nav class="tab-bar">
    <% if current_user && current_user.has_role?(:admin) %>
      <section class="left-small">
        <%= link_to content_tag(:span), nil, class: 'left-off-canvas-toggle menu-icon' %>
      </section>
    <% end %>
    <section class="middle tab-bar-section">
      <h1><%= link_to image_tag('nav_logo.svg', alt: 'Wavetronix'), root_path, class: 'top-bar-site-icon' %></h1>
    </section>
  </nav>

  <%= render "flash" %>

  <% if current_user && current_user.has_role?(:admin) %>
    <aside class="left-off-canvas-menu">
      <ul class="off-canvas-list">
        <li><label>Wavetronix Family Survey</label></li>
          <li>
            <%= link_to "Reports", reports_path %>
          </li>
          <li>
            <%= link_to "Users", users_path %>
          </li>
        <li>
          <%= link_to sign_out_path do %>
            Sign out
          <% end %>
        </li>
      </ul>
    </aside>
  <% end %>
</header>
